// showing default values
$accentColor = #4c9df8
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.theme-container.frontend-class {
    h1 {
        color: #4c9df8;
    }
}

.theme-container.backend-class {
    h1 {
        color: #4c9df8;
    }
}